# ignore .class files
target/classes/sensortasking/mcts/
target/test-classes/sensortasking/mcts/
*.class

# ignore files related to surefire-reports
target/surefire-reports/
target/maven-status/

#ignor output files
multiobjectives/src/test/java/output/
multiobjectives/target/test-classes/output/